[submodule "src/Bundle/MongoAdminBundle"]
	path = src/Bundle/MongoAdminBundle
	url = git@github.com:steves/MongoAdminBundle.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git@github.com:steves/Twig.git
[submodule "vendor/zend"]
	path = vendor/zend
	url = https://github.com/zendframework/zf2.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git@github.com:steves/symfony.git
